/** @format */

.testimonialSection {
  /* background-color: #ffffff; */
  padding: 40px 0;
  display: flex;
  align-items: center;
  gap: 56px;
  padding: 100px 60px;
  /* overflow-x: visible; */
}

.heading {
  font-family: var(--font-source);
  font-weight: 600;
  font-size: 24px;
  color: var(--color-text);
}

.text {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../../../assets/testimonial/line.png") bottom no-repeat;
}

.testimonialSection h3 {
  margin: 0;
  font-size: 40px;
  font-family: var(--font-lino);
  color: var(--color-bg);
  width: 350px;
}

.testimonialContainer {
  display: flex;
  justify-content: center;
  /* gap: 20px; */
}

.testimonialCard {
  display: flex;
  justify-content: center;
}

.cardContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  margin-left: -29px;
  margin-top: 40px;
  box-shadow: 0px 4px 7px hsla(0, 0%, 0%, 0.04);
}

.cardContent img {
  width: fit-content;
}

.quoteText {
  font-family: var(--font-source);
  font-size: 21.2px;
}

.attribution span {
  font-family: var(--font-source);
  font-size: 20px;
  font-weight: 700;
  color: var(--color-text);
}

.position span {
  font-family: var(--font-source);
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text);
}

.image {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.image img {
  cursor: pointer;
}

/* Mobile Responsiveness */
@media only screen and (max-width: 768px) {
  .heading {
    font-size: 16px;
    text-align: center;
  }

  .testimonialSection h3 {
    font-size: 24px;
    text-align: center;
  }

  .testimonialSection {
    flex-direction: column;
    padding: 50px 30px;
  }

  .text {
    height: 225px;
    justify-content: unset;
  }

  .testimonialCard {
    flex-direction: column;
    align-items: center;
  }

  .testimonialCard > img {
    width: 312px;
  }

  .cardContent {
    width: 277px;
    align-items: baseline;
    padding: 20px;
    margin: 0;
  }

  .image {
    margin-top: 40px;
  }

  .quoteText {
    font-size: 16px;
  }
}
