/** @format */

.lawyer {
  display: flex;
  flex-direction: column;
  gap: 56px;
  text-align: center;
  margin-top: 100px;
  padding: 0 50px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.text h2 {
  margin: 0;
  font-size: 50px;
  color: var(--color-bg);
  font-family: var(--font-lino);
}

.text span {
  width: 90%;
  font-size: 24px;
  font-family: var(--font-source);
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 24px;
}

.container div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container h3 {
  margin: 0;
  font-size: 24px;
  font-family: var(--font-lino);
  color: var(--color-text);
}

.container span {
  color: var(--color-bg);
  font-size: 18px;
  font-weight: 700;
  font-family: var(--font-source);
}
@media only screen and (max-width: 768px) {
  .lawyer {
    gap: 20px;
    align-items: center;
  }
  .text h2 {
    font-size: 24px;
  }

  .text span {
    font-size: 16px;
    width: 95%;
  }

  .container {
    gap: 50px;
  }

  .container div {
    align-items: center;
  }

  .container img {
    width: 312px;
  }

  .container h3 {
    font-size: 16px;
  }

  .container span {
    margin-top: -10px;
    font-size: 12px;
  }
}
